* {
    font-family: sans-serif, Verdana, Geneva, Cambria;
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

/*
main {
    height: 100vh;
    height: 100svh;
}