/* add comments!!!! */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
}

nav > div > ul {
    padding: 12px 38px;
    margin: 12px;
    background-color: #5e6b45;
    border-radius: 14px;
    font-size: x-large;
}

nav {
    padding: 6px;
}

nav > div > ul > a {
    text-decoration: none; 
    color: whitesmoke   
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    color: whitesmoke;
    background-color: #798546;
    z-index: 100;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
    background-color: #5e6b45;
    color: whitesmoke;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer > p {
    margin: 10px 14px;
    font-size: large;
    margin-left: 5px;
}

body {
    background-color: #fffce9;
}

main {
    margin: 200px 0px;
}


@media (max-width: 1400px) {
    nav > div > ul {
        padding: 8px 24px;
    }

    nav {
        padding: 0;
    }

    footer > p {
        font-size: small;
        margin: 10px 12px
    }
}

@media (max-width: 1200px) {
    nav > div > ul {
        padding: 6px 18px;
    }
}


@media (max-width: 1080px) {
    nav {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
    } 
    nav > div {
        justify-content: space-between;
    }
    nav > div > ul {
        margin: 9px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 650px) {
    nav > div > ul {
        margin: 7px;
        font-size: medium;
        border-radius: 9px;
    }
} 

@media (max-width: 510px) {
    nav > div > ul {
        margin: 2px;
        font-size: small;
        padding: 3px 9px;
    }
}

@media (max-width: 220px) {
    nav > div > ul {
        margin: 1px;
        font-size: small;
        padding: 2px 6px;
    }
}

@media (max-width: 120px) {
    nav > div > ul {
        margin: 1px;
        font-size: smaller;
        padding: 1px 3px;
    }
}