{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block css_link %}<link rel="stylesheet" href="../static/home-styles.css">{% endblock %}
{% block content %}
<div id="main-div">
    <h1>Welcome to the GibJohn Tutoring site!</h1>
</div>
<div id="one-by-two-div">
    <div>
        <p>GibJohn Tutoring offer state of the art learning resources, so you can learn effectively and efficiently. To get started, make an account!</p>
        <a class="visit-a" href="/log-in-sign-up-page"><div class="visit"><p>Make an accout</p></div></a>
    </div>
    <div>
        <p>GibJohn Tutoring have a highly trusted background and have been providing educational resources for a long time. If you would like to learn more about us, head on over to the about page.</p>
        <a class="visit-a" href="/about"><div class="visit"><p>Go to the about page</p></div></a>
    </div>
</div>
{% endblock %}