<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Entered Password</title>
    <link rel="stylesheet" href="../static/error-page.css">
    <link rel="stylesheet" href="../static/global-css.css">
</head>
<body>
    <div>
        <p>Password is too short or too long. It needs to be between 8 and 128 characters</p>
        <div><a href="/log-in-sign-up-page">Return</a></div>
    </div>
</body>
</html>