<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/layout-styles.css">
    <link rel="stylesheet" href="../static/global-css.css">
    {% block css_link %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <div id="left-nav">
                <ul><a href="/">home</a></ul>
                <ul><a href="about">about</a></ul>
                <ul><a href="lessons">lessons</a></ul>
                <ul><a href="teachers">teachers</a></ul>
                <ul><a href="">admins</a></ul>
            </div>
            <div id="right-nav">
                {% if not username and username is not defined or username == None %}
                <ul><a href="log-in-sign-up-page">log-in</a></ul>
                <ul><a href="log-in-sign-up-page">sign-up</a></ul>
                {% else %}
                <ul>Welcome, {{ username }}</ul>
                <ul><a href="log-out">Log out</a></ul>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <img src="static/teacher-svgrepo-com.svg">
        <p>GibJohn Tutoring 2024 &copy;</p>
    </footer>
</body>
</html>                                        