{% extends "layout.html" %}
{% block title %}Lesson one{% endblock %}
{% block css_link %}{% endblock %}
{% block content %}

<div id="part1">
    <p id="learning-1">Lorem ipsum dolor sit amet, consectetur adirehenderit alias uliquam id vet! Earum, amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In totam recusandae assumenda laboriosam sit quasi cumque expedita similique. Harum iure quidem deleniti nostrum, eaque fugit quod dicta, ipsum nam distinctio necessitatibus nihil modi, ab incidunt. Cumque magni explicabo fuga quis placeat provident nulla consequatur reprehenderit est excepturi, similique corrupti id eius! Dignissimos est officiis nihil quisquam! Minima quasi in nemo aperiam neque dolore corporis facilis nostrum repudiandae sit. Voluptatum, saepe fugit quod quas incidunt similique laborum, ea porro voluptate quae fuga veniam tempora enim suscipit esse illum ex hic soluta, reiciendis distinctio ullam unde nulla repellendus aliquid! Reprehenderit, voluptates sit?</p>
    <p>Question goes here: Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, nemo?</p>
    <div>
        <a href="#learning-1">answer1</a>
        <a href="#part2" id="correct-answer">answer2</a>
        <a href="#learning-1">answer3</a>
    </div>
</div>
<div id="part2">
    <p id="learning-2">lesson content goes here: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, perferendis dicta modi quaerat amet laborum fugiat error quam. Esse alias reiciendis quaerat! Sapiente dolorum obcaecati et quam accusantium, voluptatum aspernatur cumque sint dolores, ullam qui, dicta voluptas eaque repellendus quibusdam aperiam iure natus ipsa aliquam corporis voluptatem ducimus. Perferendis corrupti similique porro tempora nesciunt vero et, dicta, velit distinctio culpa consequuntur! Consequatur, possimus! Veniam reprehenderit distinctio repudiandae deleniti delectus iste temporibus, quis accusamus quam aut minima maiores exercitationem quisquam velit! Iusto quod doloribus facere, eveniet doloremque, magni mollitia accusamus eligendi ex natus fugiat deserunt dolorum maxime in sit! Earum, amet.</p>
    <p>Question goes here: Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, nemo?</p>
    <div>
        <a href="#learning-2">answer1</a>
        <a href="#part3" id="correct-answer">answer2</a>
        <a href="#learning-2">answer3</a>
    </div>
</div>  
<div id="part3">
    <p id="learning-3">lesson content goes here: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, perferendis dicta modi quaerat amet laborum fugiat error quam. Esse alias reiciendis quaerat! Sapiente dolorum obcaecati et quam accusantium, voluptatum aspernatur cumque sint dolores, ullam qui, dicta voluptas eaque repellendus quibusdam aperiam iure natus ipsa aliquam corporis voluptatem ducimus. Perferendis corrupti similique porro tempora nesciunt vero et, dicta, velit distinctio culpa consequuntur! Consequatur, possimus! Veniam reprehenderit distinctio repudiandae deleniti delectus iste temporibus, quis accusamus quam aut minima maiores exercitationem quisquam velit! Iusto quod doloribus facere, eveniet doloremque, magni mollitia accusamus eligendi ex natus fugiat deserunt dolorum maxime in sit! Earum, amet.</p>
    <p>Question goes here: Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, nemo?</p>
    <div>
        <a href="#learning-3">answer1</a>
        <a href="#learning-3">answer2</a>
        <a href="#part3" id="correct-answer">answer3</a>
    </div>
</div>

{% endblock %}