{% extends "layout.html" %}
{% block title %}Teachers{% endblock %}
{% block css_link %}<link rel="stylesheet" href="../static/lessons-styles.css">{% endblock %}
{% block content %}

<div id="main-container">
    <div class="seperate">
        <h2>Lessons</h2>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste exercitationem quas consequatur quia?</p>
            <p>Sit qui placeat aspernatur! Odio, doloremque? Exercitationem pariatur distinctio necessitatibus natus amet sunt animi.</p>
            <p>Quae officia reprehenderit minus dolorum at aliquid architecto asperiores commodi corrupti, quisquam corporis possimus?</p>
            <p>Eaque sunt consequuntur iusto incidunt quia laudantium minus. Natus aperiam labore quaerat beatae necessitatibus.</p>
        </div>
    </div>
    <div class="seperate" id="lessons-owned">
        <h2>Lessons owned</h2>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis tenetur ex quam provident a.</p>
            <p>Quibusdam, quasi. Nostrum debitis maxime dolore ipsam. Veniam exercitationem accusantium expedita ea hic et.</p>
            <p>Quasi id molestias modi! Reiciendis impedit tenetur totam veritatis atque odit maiores in officia.</p>
            <p>Quae iure rerum magni maiores, consequatur error quibusdam, placeat delectus, similique asperiores ab tenetur.</p>
        </div>
    </div>
</div>


{% endblock %}