{% extends "layout.html" %}
{% block title %}Teachers{% endblock %}
{% block css_link %}<link rel="stylesheet" href="../static/lessons-styles.css">{% endblock %}
{% block content %}

<div id="main-container">
    <div class="seperate">
        <h2>Lessons</h2>
        <div>
            {% for lesson in lessons_owned %}
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis tenetur ex quam provident a.</p>
            {% endfor %}
        </div>
    </div>
    <div class="seperate" id="lessons-owned">
        <h2>Lessons owned</h2>
        <div>
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis tenetur ex quam provident a.</p>
            <h3>Lorem, ipsum.</h3>
            <p>Quibusdam, quasi. Nostrum debitis maxime dolore ipsam. Veniam exercitationem accusantium expedita ea hic et.</p>
            <h3>Lorem, ipsum.</h3>
            <p>Quasi id molestias modi! Reiciendis impedit tenetur totam veritatis atque odit maiores in officia.</p>
            <h3>Lorem, ipsum.</h3>
            <p>Quae iure rerum magni maiores, consequatur error quibusdam, placeat delectus, similique asperiores ab tenetur.</p>
        </div>
    </div>
</div>


{% endblock %}