<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully bought</title>
    <link rel="stylesheet" href="../static/lesson-bought.css">
    <link rel="stylesheet" href="../static/global-css.css">
</head>
<body>
    <div>
        <p>Thank you for buying {{lesson}}. You can now access this through your lessons page</p>
        <div><a href="/lessons">Lessons</a></div>
    </div>
</body>
</html>