{% extends "layout.html" %}
{% block title %}Teachers{% endblock %}
{% block css_link %}<link rel="stylesheet" href="../static/teachers-styles.css">{% endblock %}
{% block content %}

<div id="main-container">
    <div>
        <div><h1>Welcome {{username}}</h1></div>
        <div>
            <h2>Courses</h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum illum aspernatur laboriosam. Vero explicabo ut perspiciatis, magnam non repellendus ex.</p>
                <p>Officia earum perspiciatis reprehenderit voluptas aut exercitationem temporibus ducimus, beatae voluptates ipsam. Laudantium consequuntur nam similique perspiciatis harum blanditiis libero.</p>
                <p>Veritatis odio accusamus quos veniam distinctio ex. Accusantium voluptatem facere molestias eius quisquam esse nulla! Dignissimos sapiente cum quia distinctio?</p>
                <p>Adipisci sint eligendi, neque laborum quod pariatur quo eaque eveniet beatae blanditiis porro sequi laudantium odio repellat! Aut, recusandae ut!</p>
                <p>Alias, ducimus ipsa? Velit animi ipsum perferendis earum deserunt nesciunt aliquam ducimus officia. Reprehenderit porro neque ab, eveniet obcaecati illum.</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Students</h2>
        <div>
            {% for student in students %}
            <div> 
               <h3>{{student.name}}</h3>
               <p>Student {{student.name}} was last working on </a href="/{{student.recent-course}}">{{student.name}}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
